{% extends 'base.html' %}

{% block content %}

<div class="container" >
    
    <div class="card mb-3" style="max-width: 1050px;display: flex;justify-content: space-around;margin-top: 15px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{cars.image_main.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          
        </div>
      </div>
    </br>
  
<div style="display: flex;justify-content: space-around;  "><h4>DEALER: {{cars.dealer.name}}</h4>
</br>
<h4>DEALER EMAIL: {{cars.dealer.email}}</h4>
</br>
<h4>BRAND: {{cars.brand}}</h4>
</br>
<h4>CATEGORY: {{cars.category}}</h4>
</br></div>
<div style="display: flex;justify-content: space-around;  ">
<h4>MILES: {{cars.miles}}</h4>
</br>
<h4>TRANSMISSION: {{cars.transmission}}</h4>
</br>
<h4>YEAR: {{cars.year}}</h4>
</br>
<h4>FUEL: {{cars.fuel}} lts</h4>
</br>
<h4>POWER: {{cars.power}} hps</h4>


</br>
<h4>PRICE: $ {{cars.price}} </h4>
</div>
<div style="display: flex;justify-content: space-around;  ">
</br>
{{cars.description}}
</br>
</div>
<div style="display: flex;justify-content: space-around;margin-top: 20px;margin-bottom: 20px; ">
    <form action="{% url 'charge' %}" method="post">
        {% csrf_token %}
    
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button "
    data-key="{{key}}"
    data-description="A Django Charge"
    data-amount="{{cars.price}}00"
    data-locale="auto"
></script>
</form>



</div>

{% endblock content %}